<<<<<<< HEAD
<main class="main-content p-5" role="main">

<%= link_to "New Invoice", new_invoice_path %>



</main>
=======
<%= link_to "New Invoice", new_invoice_path %>
>>>>>>> 2ccbb8628ee8fbf8966c0af8515bdc9f52cc3d46
