<%= form_with model: @project ,local: false  do |form|%>
  <%= form.text_field :name %>

  <%= form.submit %>
<%end%>



<div class="me"id="yes"> hello</div>
<div class="me">hollo</div>
<div class="me">hollo</div>
